.a1{
    margin-left:42%;
}
.a2{
    margin-left:36%;
}
.alert{
    text-align: center;
    background-color: #E74C3C;
    border: 1px solid #C0392B;
    color: #F2F4F4;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
}
.sucess{
    text-align: center;
    background-color: #28B463;
    border: 1px solid #27AE60;
    color: #F2F4F4;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
}